.slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    background-color: #f9f9f9;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.title {
    text-align: inherit; 
    width: 600px;
  
    margin: 0 auto;
  
    word-wrap: break-word;
    
    font-weight: bold;
   
  }
  
.slide p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; 
}

.slide img {
    max-width: 600px;
    height: 400px;
    margin-bottom: 20px; 
}

.slider-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
}

.prev-button,
.next-button {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 20px; /* Increased padding */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555; /* Hover background color */
}

.pagination-dots-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot-xyz {
    background-color: #bbb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot-xyz.active {
    background-color: #333;
}

.dot-xyz:hover {
    background-color: #999;
}
@media (max-width: 576px) {
	.hidden-mobile {
		display: none;
	}
}

// tablet css
@media (min-width: 577px) and (max-width: 992px) {
	.hidden-tablet {
		display: none;
	}
}

// desktop css
@media (min-width: 993px) {
	.hidden-desktop {
		display: none;
	}
}